html, body {
    height: 100%;
}

.container {
    position: relative;
    top: 85%;
    height:auto;
    transform: translateY(-100%);
    text-align: center;
}

.movieBox {
    overflow: scroll;
    height: 150px;
    width: 50%;
    margin: 25px  auto;
    border: 2px solid grey;
    padding: 25px;

}

h4:hover {
    color: red;
}

.tooltiptext:hover {
    visibility: hidden;
    width: 120px;
    background-color: lightgray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

/*.tooltip:hover .tooltiptext {*/
    /*visibility: visible;*/
    /*opacity: 1;*/
/*}*/