html, body {
    height: 100%;
}

.container {
    position: relative;
    top: 85%;
    height:auto;
    transform: translateY(-100%);
    text-align: center;
}

.movieBox {
    overflow: scroll;
    height: 150px;
    width: 50%;
    margin: 25px  auto;
    border: 2px solid grey;
    padding: 25px;

}